<div
  id="camping"
  class="mt-4 md:mt-8 grid grid-cols-2 md:grid-cols-4 grid-rows-3 md:grid-rows-2 w-full [&>div]:border [&>div]:border-customColor-200 [&>div]:bg-customColor-50 [&>div]:h-64 [&>div]:md:h-72 [&>div]:lg:h-56 [&>div]:flex [&>div]:flex-col [&>div]:justify-end [&>div]:p-6"
>
  <div class="md:!h-full col-span-2 md:row-span-2 fondo border-none"></div>
  <div class="md:col-start-3">
    <h6 class="font-extrabold text-customColor-500">Senderos Naturales</h6>
    <p class="text-customColor-400 font-semibold">
      Explora la belleza natural que nos rodea a través de nuestros senderos
      trazados, ideales para caminatas relajantes.
    </p>
  </div>
  <div class="md:col-start-3 md:row-start-2">
    <h6 class="font-extrabold text-customColor-500">Áreas de Picnic</h6>
    <p class="text-customColor-400 font-semibold">
      Disfruta de comidas al aire libre en nuestras áreas designadas para
      picnic, rodeadas de la tranquilidad de la naturaleza.
    </p>
  </div>
  <div class="md:col-start-4">
    <h6 class="font-extrabold text-customColor-500">Áreas de Fogata</h6>
    <p class="text-customColor-400 font-semibold">
      Disfruta de una noche de fogata con tus amigos y familiares en nuestras
      áreas designadas para fogatas, evitando riesgos.
    </p>
  </div>
  <div class="md:col-start-4 md:row-start-2">
    <h6 class="font-extrabold text-customColor-500">
      Observación de Estrellas
    </h6>
    <p class="text-customColor-400 font-semibold">
      Sumérgete en la magia estelar: en nuestro lugar especial, el cielo claro
      ofrece noches únicas para explorar el universo.
    </p>
  </div>
</div>

<style>
  .fondo {
    background-image: url("https://live.staticflickr.com/1186/543735696_4dc815ab74_b.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
