<div
  id="camping"
  class="mt-4 lg:mt-8 md:grid md:grid-cols-2 lg:grid-cols-4 grid-rows-3 lg:grid-rows-2 w-full [&>div]:border [&>div]:border-customColor-200 [&>div]:bg-customColor-50 [&>div]:h-44 [&>div]:md:h-64 [&>div]:lg:h-80 [&>div]:flex [&>div]:flex-col [&>div]:justify-end [&>div]:p-6"
>
  <div class="lg:!h-full col-span-2 lg:row-span-2 fondo border-none"></div>
  <div class="lg:col-start-3">
    <h3 class="font-extrabold text-customColor-500">Senderos Naturales</h3>
    <p class="text-customColor-400 font-semibold">
      Explora la belleza natural que nos rodea a través de nuestros senderos
      trazados, ideales para caminatas relajantes.
    </p>
  </div>
  <div class="lg:col-start-3 lg:row-start-2">
    <h3 class="font-extrabold text-customColor-500">Áreas de Picnic</h3>
    <p class="text-customColor-400 font-semibold">
      Disfruta de comidas al aire libre en nuestras áreas designadas para
      picnic, rodeadas de la tranquilidad de la naturaleza.
    </p>
  </div>
  <div class="lg:col-start-4">
    <h3 class="font-extrabold text-customColor-500">Áreas de Fogata</h3>
    <p class="text-customColor-400 font-semibold">
      Disfruta de una noche de fogata con tus amigos y familiares en nuestras
      áreas designadas para fogatas, evitando riesgos.
    </p>
  </div>
  <div class="lg:col-start-4 lg:row-start-2">
    <h3 class="font-extrabold text-customColor-500">
      Observación de Estrellas
    </h3>
    <p class="text-customColor-400 font-semibold">
      Sumérgete en la magia estelar: en nuestro lugar especial, el cielo claro
      ofrece noches únicas para explorar el universo.
    </p>
  </div>
</div>

<style>
  .fondo {
    background-image: url("/images/camping.avif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
</style>
