---
import Camping from "./Camping.astro";
import Cabins from "./Cabins.astro";
---

<main class="fondo mx-0 px-0">
  <div class="mx-auto container screensizes py-8 md:py-12 lg:py-16">
    <h1 class="font-bold text-5xl md:text-6xl text-customColor-50 text-center">
      Camping Tannenwald
      <span class="block text-customColor-200 text-3xl md:text-4xl mt-2 md:mt-4"
        >Camping & Cabañas</span
      >
    </h1>

    <Camping />
    <Cabins />
  </div>
</main>

<style>
  .fondo {
    background-image: url("/images/bg-pines.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
  }
</style>
