<main class="h-screen bg-customColor-500">
  <div class="mx-auto container px-4 md:px-0 py-8 md:py-28">
    <h1 class="font-bold text-6xl text-customColor-200 text-center">
      Camping Tannenwald
      <span class="block text-customColor-300">Camping & Cabañas</span>
    </h1>

    <div id="camping"></div>
  </div>
</main>
