---
import Layout from "../../layouts/Layout.astro";
import CabinComponent from "../../components/Cabins/CabinComponent.astro";

const images = [
  "/images/basic_cabin/basic_cabin.avif",
  "/images/basic_cabin/basic_cabin_1.avif",
  "/images/basic_cabin/basic_cabin_2.avif",
  "/images/basic_cabin/basic_cabin_3.avif",
  "/images/basic_cabin/basic_cabin_6.avif",
];
---

<Layout title="Cabaña 4 Personas - Camping Tannenwald | Camping & Cabañas">
  <section
    class="mx-auto container screensizes mt-28"
    transition:name="cabin"
    transition:animate="slide"
  >
    <CabinComponent title="hasta 4 personas" images={images}>
      Descubre tu refugio perfecto en nuestras cabañas: 3 junto al río y 1
      dentro del camping. Cama matrimonial arriba, 2 sillones cama abajo,
      asador, galería y estacionamiento techado. Personaliza con ropa blanca
      (costo adicional). Reserva ahora y vive una escapada única.
    </CabinComponent>
  </section>
</Layout>
