<section id="notices" class="bg-customColor-500 h-40">
  <div
    class="mx-auto container w-full screensizes flex items-center justify-center h-full"
  >
    <h3 class="text-3xl font-bold text-customColor-100">Noticias</h3>
  </div>
</section>
