---
const fecha = new Date();
---

<footer>
  <div
    class="mx-auto container screensizes py-8 flex flex-col lg:flex-row gap-y-6 lg:gap-y-0 lg:justify-between"
  >
    <div>
      <img
        src="./logo.svg"
        alt="Logo Camping Tannenwald"
        width="256"
        height="80"
      />
      <p class="text-white">
        Camping Tannenwald. Todos los derechos reservados. &copy; {
          fecha.getFullYear()
        }
      </p>
    </div>
    <div>
      <a
        href="mailto:campingcabanas@gmail.com"
        class="text-white border-b border-white"
      >
        campingcabanas@gmail.com
      </a>
    </div>
    <div class="flex flex-row gap-x-4">
      <a
        href="/"
        target="_blank"
        class="text-white hover:scale-125 transition-transform ease-in-out duration-300"
        aria-label="Instagram"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-instagram"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
          ></path>
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
          <path d="M16.5 7.5l0 .01"></path>
        </svg>
      </a>
      <a
        href="/"
        target="_blank"
        class="text-white hover:scale-125 transition-transform ease-in-out duration-300"
        aria-label="Facebook"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-facebook"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
          ></path>
        </svg>
      </a>
      <a
        href="/"
        target="_blank"
        class="text-white hover:scale-125 transition-transform ease-in-out duration-300"
        aria-label="Twitter X"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-x"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
          <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
        </svg>
      </a>
    </div>

    <div class="border-2 border-white p-2 h-fit w-fit self-end lg:self-start">
      <a href="/#hero" aria-label="Ir al inicio">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-arrow-up"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="#fff"
          stroke-linecap="round"
          stroke-linejoin="round"
          style="filter: invert(1);"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 5l0 14"></path>
          <path d="M18 11l-6 -6"></path>
          <path d="M6 11l6 -6"></path>
        </svg>
      </a>
    </div>
  </div>
  <div class="pb-4">
    <p class="text-customColor-200 text-center">
      Desarrollado por
      <a
        href="https://github.com/FabrizzioLoPresti/"
        target="_blank"
        class="text-white border-b border-white"
      >
        Fabrizzio Lo Presti
      </a>
    </p>
  </div>
</footer>
