---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Camping familiar sobre el río Los Reartes, en un bosque imponente, ubicado en el Valle de Calamuchita en las sierras de Córdoba."
    />
    <meta
      name="keywords"
      content="camping, camping los reartes, camping cordoba, camping calamuchita, camping rio los reartes, camping rio calamuchita, camping rio cordoba, camping familiar, camping familiar cordoba, camping familiar calamuchita, camping familiar rio los reartes, camping familiar rio calamuchita, camping familiar rio cordoba, camping familiar sierras de cordoba, camping familiar sierras de calamuchita, camping familiar sierras de rio los reartes, camping familiar sierras de rio calamuchita, camping familiar sierras de rio cordoba, camping familiar sierras cordoba, camping familiar sierras calamuchita, camping familiar sierras rio los reartes, camping familiar sierras rio calamuchita, camping familiar sierras rio cordoba, camping sierras de cordoba, camping sierras de calamuchita, camping sierras de rio los reartes, camping sierras de rio calamuchita, camping sierras de rio cordoba, camping sierras cordoba, camping sierras calamuchita, camping sierras rio los reartes, camping sierras rio calamuchita, camping sierras rio cordoba"
    />
    <meta name="author" content="Camping Los Reartes" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main>
      <Navbar />
      <slot />
    </main>
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background-size: 224px;
        @apply bg-customColor-500;
      }
    </style>
  </body>
</html>
